go 1.23

use (
	./pkg
	./api-gateway
	./services/user-service
	./services/payment-service
	./services/pricing-service
	./services/order-service
	./services/courier-service
	./services/dispatch-service
	./services/hub-service
	./services/tracking-service
	./services/notification-service
	./services/resolution-service
)
